<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Sensor Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/ph_sensorboard.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
        <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script src="{{ url_for('static', filename='js/ph_sensor.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>
    </head>
    <body>
        <nav class = "nav-sidebar">
            <h2>Boards</h2>
            <ul id = "board_list">
                <!-- Sensoren werden hier dynamisch eingefügt -->
            </ul>
        </nav>

        <main class = "content">
            <div class = "header-container">
                <p id = "board_name" ></p>
            </div>

            <div class = "ph-dashboard-grid">
                <div class = "icon-variable-container">
                    <img class = "icon-image" src = "{{ url_for('static', filename='images/humidity.png') }}" alt = "Humidity icon" draggable = "false">
                    <div class = "icon-sensortext">
                        <p> Humidity</p>
                        <p>
                            <span id="pH-Board_hum_sht"></span><span> %</span>
                        </p>
                    </div>
                </div>

                <div class = "icon-variable-container">
                    <img class = "icon-image" src = "{{ url_for('static', filename='images/temperature.png') }}" alt = "Temperature icon" draggable = "false">
                    <div class = "icon-sensortext">
                        <p> Temperature</p>
                        <p>
                            <span>SHT35:   </span><span id = "pH-Board_temp_sht"></span><span> °C</span>
                        </p>
                        <p>
                            <span>PT1000: </span><span id = "pH-Board_temp_pt"></span><span> °C</span>
                        </p>
                    </div>
                </div>

                <div class = "icon-variable-container">
                    <img class = "icon-image" src = "{{ url_for('static', filename='images/manometer.png') }}" alt = "Barometer icon" draggable = "false">
                    <div class = "icon-sensortext">
                        <p>Barometer</p>
                        <p>
                            <span id = "pH-Board_pressure"></span><span> hPa</span>
                        </p>
                    </div>
                </div>

                <div class = "icon-variable-container">
                    <img class = "icon-image" src="{{ url_for('static', filename='images/ph.png') }}" alt = "PH icon" draggable = "false">
                    <div class = "icon-sensortext">
                        <p>PH </p>
                        <p>
                            <span id = "pH-Board_pH_value"></span><span> </span>
                        </p>
                    </div>
                </div>

                <div class = "icon-variable-container">
                    <img class = "icon-image" src="{{ url_for('static', filename='images/magnetfeld.png') }}" alt = "Magnetfield icon" draggable = "false">
                    <div class = "icon-sensortext">
                        <p>Magnetfield</p>
                        <p>
                            <span>X: </span><span id = "pH-Board_x_mag"></span><span> Gauss</span>
                        </p>
                        <p>
                            <span>Y: </span><span id = "pH-Board_y_mag"></span><span> Gauss</span>
                        </p>
                        <p>
                            <span>Z: </span><span id = "pH-Board_z_mag"></span><span> Gauss</span>
                        </p>
                    </div>
                </div>

                <div class = "plot-container">
                    <h3>Plot</h3>
                
                    <canvas class = "chart-placeholder" id = "ph_chart" draggable = "false"></canvas>
                    <div class = "edits">
                        <button id = "start_plotting">Start</button>
                        <button id = "stop_plotting">Stop</button>
                        <button id = "reset_plotting">Reset</button>
                    </div>
                </div>

                <div class = "icon-variable-container">
                    <img class = "icon-image" src = "{{ url_for('static', filename='images/coordinate_system.png') }}" alt = "Acceleration icon" draggable = "false">
                    <div class = "icon-sensortext">
                        <p>Acceleration</p>
                        <p>
                            <span>X: </span><span id = "pH-Board_x_acc"></span><span> g</span>
                        </p>
                        <p>
                            <span>Y: </span><span id = "pH-Board_y_acc"></span><span> g</span>
                        </p>
                        <p>
                            <span>Z: </span><span id = "pH-Board_z_acc"></span><span> g</span>
                        </p>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
