:root{
    --hover-sidebarcolor: rgb(149, 207, 195);
    --sidebar-backgroundcolor: rgba(226, 232, 235, 0.876);
    --sidebar-textcolor: rgb(117, 127, 130);
    --mode-containercolor: rgb(117, 127, 130, 0.4);
    --icon_container-color: rgb(183, 199, 204);
    --header_color: rgb(215, 224, 226);

}

body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 250px;
    background: var(--sidebar-backgroundcolor);
    color: rgb(151, 165, 168);
    padding: 20px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    z-index: 10;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: var(--sidebar-textcolor);
    text-decoration: none;
    display: block;
    padding: 10px;
    background: var(--sidebar-backgroundcolor);
    border-radius: 5px;
}

.sidebar ul li a:hover {
    background: var(--hover-sidebarcolor);
}

.content {
    margin-left: 270px;
    padding-left: 0.25rem;
    flex: 1;
}

.dashboard_generic_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 1.25rem;
}


.dashboard_generic_grid .p{
    font-size: 1.2rem;
    font-weight: bold;
}


.control_container {
    display: flex;
    margin-top: 0.5rem;
    margin-left: 0.25rem;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: var(--icon_container-color);
    border-radius: 8px;
}

.var_ctrl_container {
    display: flex;
    margin-top: 0.2rem;
    margin-left: 0.1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-paragraph{
    font-size: 1.6rem;
    font-weight: bold;
    align-content: normal;
}

.edit_var{
    display: flex;
    flex-direction: row;
    margin-top: 0.25rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
  }
.var_paragraph{
    font-weight: bold;
    align-content: normal;
}
.edit_var input {
  background-color: var(--hover-sidebarcolor);
  border-color: #eee;
  border-style: solid;
  margin: 0.2rem;
  border-radius: 12px;
  padding-top: 0.5rem;
  font-size: 1.2rem;
  align-items: center;
}

.header-container {
  margin-left: 2.25rem;
  margin-right: 1.25rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: var(--hover-sidebarcolor);
  border-radius: 8px;
}





