<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Sensor Dashboard</title>
  <link rel="stylesheet" href="../css/load_cell.css" />
  <link rel="stylesheet" href="../css/ph_sensorboard.css" />
  <link rel="stylesheet" href="../css/beacon.css" />
  <link rel="stylesheet" href="../css/dynamic.css" />
  <script src="../js/dynamic.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>
</head>
<body>
  <nav class="sidebar">
    <h2>Sensoren</h2>
    <div class = "sensor_buttons" id="sensor-list">
      <!-- Sensoren werden hier dynamisch eingefügt -->
    </div>
  </nav>

  <main class="content">
    <div class ="header-container">
        <div class = "header-paragraph">
            <p id = "board_name"> Load Cell Board</p>
        </div>    
    </div>

    <div class="sensor-display" id="main-container"></div>
  </main>
</body>
</html>
