<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Sensor Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/generic.css') }}">

  <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
  <nav class="sidebar">
    <h2>Boards</h2>
    <ul id="sensor-list">
      <!-- Sensoren werden hier dynamisch eingefügt -->
    </ul>
  </nav>
  
  <main class="content">
    <div class ="header-container">
        <div class = "header-paragraph">
            <p id = "sensorname" > </p>
        </div>    
    </div>
   
    <div class="dashboard_generic_grid" id = "generic_grid">  
    </div>
  </main>
</body>
</html>
